<!-- MIDTERM/templates/registration.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Registration</title>
</head>
<body>
    <form>
        <label for="firstname">First Name:</label><br>
        <input type="text" id="firstname" name="firstname"><br>
        <label for="lastname">Last Name:</label><br>
        <input type="text" id="lastname" name="lastname"><br>
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br>
        <input type="submit" value="Register">
    </form>
</body>
</html>
